/* ==========================================================================
   Interactive Banner shortcode style - begin
   ========================================================================== */

.evc-interactive-banner {
    @include evcRelativeLayout();
	overflow: hidden;

	.touch & {
		cursor: pointer;
	}
	
	.evc-ib-image {
		@include evcRelativeLayout();
		
		img {
			display: block;
			width: 100%;
		}
	}
	
	.evc-ib-content-wrapper {
		@include evcAbsoluteLayout();
		box-sizing: border-box;
	}
	
	.evc-ib-content-inner {
		@include evcTableLayout();
	}
	
	.evc-ib-content {
		@include evcTableCellLayout();
		
		.evc-ib-icon {
			color: $light-color;
		}
		
		.evc-ib-title {
			color: $light-color;
		}
		
		.evc-ib-text {
			color: $light-color;
		}
	}
	
	.evc-ib-custom-icon {
		display: block;
		margin: 0 auto 10px;
	}
	
	.evc-ib-icon {
		display: block;
		margin-bottom: 20px;
		font-size: 40px;
	}
	
	.evc-ib-title {
		margin: 0;
	}
	
	.evc-ib-text {
		margin: 10px 0 0;
	}
	
	.evc-ib-link {
		@include evcAbsoluteLayout();
	}
	
	/***** Types styles - begin *****/
	
	&.evc-ib-classic {
		
		&:hover {
			
			.evc-ib-content-wrapper {
				opacity: 1;
			}
		}
		
		.evc-ib-content-wrapper {
			padding: 20px;
			text-align: center;
			background-color: rgba($dark-color, .3);
			opacity: 0;
			@include evcTransition(opacity .3s ease-in-out);
		}
	}
	
	&.evc-ib-bottom-animation {
		
		&:hover {
			
			.evc-ib-image {
				
				img {
					@include evcTransform(scale(1.1));
				}
			}
			
			.evc-ib-content-wrapper {
				opacity: 1;
				@include evcTransition(opacity .15s);
			}
			
			.evc-ib-icon,
			.evc-ib-title,
			.evc-ib-text {
				opacity: 1;
				@include evcTransform(translate3d(0, 0, 0));
			}
		}
		
		.evc-ib-image {
			
			img {
				@include evcTransform(scale(1));
				@include evcTransitionTransform(.35s);
			}
		}
		
		.evc-ib-content-wrapper {
			padding: 25px 35px 30px;
			background-color: rgba($dark-color, .3);
			opacity: 0;
			@include evcTransition(opacity .35s);
		}
		
		.evc-ib-content {
			vertical-align: bottom;
		}
		
		.evc-ib-icon,
		.evc-ib-title,
		.evc-ib-text {
			opacity: 0;
			@include evcTransform(translate3d(0, 40px, 0));
			@include evcTransitionTransform(.35s, opacity .2s);
		}
		
		.evc-ib-text {
			margin: 5px 0 0;
		}
	}
	
	&.evc-ib-bordered {
		
		&:hover {
			
			.evc-ib-content-wrapper {
				background-color: rgba($dark-color, .6);
				
				&:before,
				&:after {
					opacity: 1;
					@include evcTransform(scale(1));
				}
			}
			
			.evc-ib-icon,
			.evc-ib-title,
			.evc-ib-text {
				opacity: 1;
				@include evcTransform(translate3d(0, 0, 0));
			}
		}
		
		.evc-ib-content-wrapper {
			padding: 40px;
			text-align: center;
			color: #fff;
			@include evcTransition(background-color .35s);
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 30px;
				right: 30px;
				bottom: 30px;
				left: 30px;
				opacity: 0;
				@include evcTransitionTransform(.35s, opacity .35s);
			}
			
			&:before {
				border-top: 1px solid currentColor;
				border-bottom: 1px solid currentColor;
				@include evcTransform(scale(0, 1));
			}
			
			&:after {
				border-right: 1px solid currentColor;
				border-left: 1px solid currentColor;
				@include evcTransform(scale(1, 0));
			}
		}
		
		.evc-ib-icon,
		.evc-ib-title,
		.evc-ib-text {
			opacity: 0;
			@include evcTransitionTransform(.35s, opacity .35s);
		}
		
		.evc-ib-icon,
		.evc-ib-title {
			@include evcTransform(translate3d(0, -20px, 0));
		}
		
		.evc-ib-text {
			@include evcTransform(translate3d(0, 20px, 0));
		}
	}
	
	&.evc-ib-slide-from-bottom {
		
		&:hover {
			
			.evc-ib-image {
				
				img {
					@include evcTransform(translateY(-30px));
				}
			}
			
			.evc-ib-content-wrapper {
				@include evcTransform(translateY(0));
			}
		}
		
		.evc-ib-image {
			
			img {
				@include evcTransform(translateY(0));
				@include evcTransitionTransform(.35s);
			}
		}
		
		.evc-ib-content-wrapper {
			top: auto;
			bottom: 0;
			height: auto;
			padding: 20px 25px 22px;
			background-color: $dark-color;
			text-align: center;
			@include evcTransform(translateY(101%));
			@include evcTransitionTransform(.35s);
		}
		
		.evc-ib-text {
			margin: 4px 0 0;
		}
	}
	
	&.evc-ib-shutter-in-vertical {
		
		&:hover {
			
			.evc-ib-content-wrapper {
				
				&:before,
				&:after {
					height: 50%;
				}
			}
			
			.evc-ib-content-inner {
				opacity: 1;
				@include evcTransition(opacity .35s);
				@include evcTransitionDelay(.21s);
			}
		}
		
		.evc-ib-content-wrapper {
			padding: 25px 35px;
			color: $dark-color;
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 0;
				background-color: currentColor;
				@include evcTransition(height .35s);
			}
			
			&:before {
				top: 0;
			}
			
			&:after {
				bottom: 0;
			}
		}
		
		.evc-ib-content-inner {
			opacity: 0;
			z-index: 1;
			@include evcTransition(opacity .2s);
		}
		
		.evc-ib-text {
			margin: 4px 0 0;
		}
		
		.evc-ib-link {
			z-index: 2;
		}
	}
	
	/***** Types styles - end *****/
	
}

/* ==========================================================================
   Interactive Banner shortcode style - end
   ========================================================================== */