/* ==========================================================================
   Flip Image shortcode style - begin
   ========================================================================== */

.evc-flip-image {
    @include evcRelativeLayout();
	@include evcTransformStyle(preserve-3d);
	
	.touch & {
		cursor: pointer;
	}
	
	.evc-fi-image {
		@include evcRelativeLayout();
		z-index: 1;
		backface-visibility: hidden;
		@include evcTransformStyle(preserve-3d);
		@include evcTransitionTransform(.7s ease);
		
		img {
			display: block;
			width: calc(100% + 1px);
		}
	}
	
	.evc-fi-content-wrapper {
		@include evcAbsoluteLayout();
		padding: 20px;
		background-color: $dark-color;
		box-sizing: border-box;
		backface-visibility: hidden;
		@include evcTransformStyle(preserve-3d);
		@include evcTransitionTransform(.7s ease);
	}
	
	.evc-fi-content-inner {
		@include evcTableLayout();
		text-align: center;
	}
	
	.evc-fi-content {
		@include evcTableCellLayout();
		
		.evc-fi-title {
			margin: 0;
			color: #fff;
		}
		
		.evc-fi-text {
			margin: 14px 0 0;
			color: #fff;
		}
	}
	
	.evc-fi-link {
		@include evcAbsoluteLayout();
		cursor: pointer;
		z-index: 3;
	}
	
	/***** Types styles - begin *****/
	
	&.evc-fi-horizontal {
		
		&:hover {
			
			.evc-fi-image {
				@include evcTransform(rotateY(180deg));
			}
			
			.evc-fi-content-wrapper {
				@include evcTransform(rotateY(0));
			}
		}
		
		.evc-fi-image {
			@include evcTransform(rotateY(0));
		}
		
		.evc-fi-content-wrapper {
			@include evcTransform(rotateY(-180deg));
		}
	}
	
	&.evc-fi-vertical {
		
		&:hover {
			
			.evc-fi-image {
				@include evcTransform(rotateX(180deg));
			}
			
			.evc-fi-content-wrapper {
				@include evcTransform(rotateX(0));
			}
		}
		
		.evc-fi-image {
			@include evcTransform(rotateX(0));
		}
		
		.evc-fi-content-wrapper {
			@include evcTransform(rotateX(-180deg));
		}
	}
	
	/***** Types styles - end *****/
}
/* ==========================================================================
   Flip Image shortcode style - end
   ========================================================================== */