/* ==========================================================================
   SVG Text shortcode responsive style - begin
   ========================================================================== */

@include laptop-small-screen {
	
	.evc-svg-text {
		font-size: 140px;
		height: 140px;
	}
}

@include ipad-landscape-screen {
	
	.evc-svg-text {
		font-size: 120px;
		height: 120px;
	}
}

@include ipad-portrait-screen {
	
	.evc-svg-text {
		font-size: 100px;
		height: 100px;
	}
}

@include phone-landscape-screen {
	
	.evc-svg-text {
		font-size: 70px;
		height: 70px;
	}
}

@include phone-portrait-screen {
	
	.evc-svg-text {
		font-size: 60px;
		height: 60px;
	}
}

/* ==========================================================================
   SVG Text shortcode responsive style - end
   ========================================================================== */