/* ==========================================================================
   SVG Text shortcode style - begin
   ========================================================================== */

.evc-svg-text {
	@include evcRelativeLayout();
	height: 180px;
	font-size: 180px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	color: $dark-color;
	
	.touch & {
		cursor: pointer;
	}
	
	&:hover {
		
		.evc-st-svg {
			fill: currentColor;
		}
	}
	
	.evc-st-svg {
		position: relative;
		display: block;
		width: 100%;
		height: inherit;
		fill: transparent;
		stroke: currentColor;
		stroke-width: 1px;
		overflow: visible;
		@include evcTransition(fill .3s ease-in-out);
	}
	
	.evc-st-link {
		@include evcAbsoluteLayout();
		z-index: 1;
	}
}

/* ==========================================================================
   SVG Text shortcode style - end
   ========================================================================== */