/* ==========================================================================
   Gallery Block shortcode style - begin
   ========================================================================== */

.evc-gallery-block {
	@include evcRelativeLayout();
	
	.evc-gb-image-wrapper {
		position: relative;
		display: inline-block;
		vertical-align: top;
		float: left;
		box-sizing: border-box;
	}
	
	.evc-gb-image {
		@include evcRelativeLayout();
		
		a, img {
			position: relative;
			display: block;
		}
	}
	
	/***** Types styles - begin *****/
	
	&.evc-gb-featured-top {
		
		.evc-gb-image-wrapper {
			width: 50%;
			
			&.evc-gb-featured-image {
				width: 100%;
			}
		}
	}
	
	&.evc-gb-featured-left {
		
		.evc-gb-image-wrapper {
			width: 25%;
			
			&.evc-gb-featured-image {
				width: 50%;
			}
		}
	}
	
	/***** Types styles - end *****/
	
}

/* ==========================================================================
   Gallery Block shortcode style - end
   ========================================================================== */