/* ==========================================================================
   Include global partials - begin
   ========================================================================== */

@import '../../../scss/variables';
@import '../../../scss/mixins';

/* ==========================================================================
   Include global partials - end
   ========================================================================== */

/* ==========================================================================
   Meta Boxes styles - begin
   ========================================================================== */

.evc-meta-box-page {
	@include evcRelativeLayout();
	
	.evc-meta-box-field-holder {
		@include evcRelativeLayout();
		margin: 1em 0;
	}
	
	.evc-meta-box-label {
		display: block;
		margin: 0 0 5px;
	}
	
	.evc-meta-box-field {
		@include evcRelativeLayout();
	}
	
	.evc-meta-box-description {
		margin: 5px 0 0;
	}
}

/* ==========================================================================
   Meta Boxes styles - end
   ========================================================================== */