/* ==========================================================================
   Include global partials - begin
   ========================================================================== */
/* ==========================================================================
   Common variables - begin
   ========================================================================== */
/* ==========================================================================
   Common variables - end
   ========================================================================== */
/* ==========================================================================
   Responsive variables - begin
   ========================================================================== */
/* ==========================================================================
   Responsive variables - end
   ========================================================================== */
/* ==========================================================================
   Layout mixin style - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixin style - end
   ========================================================================== */
/* ==========================================================================
   Animation mixin style - begin
   ========================================================================== */
/* ==========================================================================
   Animation mixin style - end
   ========================================================================== */
/* ==========================================================================
   Specific mixin style - end
   ========================================================================== */
/* ==========================================================================
   Specific mixin style - end
   ========================================================================== */
/* ==========================================================================
   Responsive mixin style - begin
   ========================================================================== */
/* ==========================================================================
   Responsive mixin style - end
   ========================================================================== */
/* ==========================================================================
   Include global partials - end
   ========================================================================== */
/* ==========================================================================
   Options styles - begin
   ========================================================================== */
.evc-admin-about .evc-admin-about-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-right: 160px;
  box-sizing: border-box;
}

.evc-admin-about .evc-admin-logo {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.evc-admin-about .evc-admin-image {
  position: relative;
  display: block;
  margin: 50px 0 0;
}

.evc-admin-settings .evc-admin-checkboxes {
  margin-bottom: 10px;
}

.evc-admin-settings .evc-admin-checkboxes:after {
  content: ' ';
  display: table;
  clear: both;
}

.evc-admin-settings .evc-admin-checkboxes .evc-admin-checkbox {
  float: left;
  width: 25%;
}

@media screen and (min-width: 783px) {
  .evc-admin-settings .evc-admin-checkboxes .evc-admin-checkbox:nth-child(4n+1) {
    clear: both;
  }
}

@media screen and (max-width: 782px) {
  .evc-admin-settings .evc-admin-checkboxes .evc-admin-checkbox {
    width: 50%;
  }
  .evc-admin-settings .evc-admin-checkboxes .evc-admin-checkbox:nth-child(2n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Options styles - end
   ========================================================================== */

/*# sourceMappingURL=options-map.css.map */
