/* ==========================================================================
   Line Graph shortcode style - begin
   ========================================================================== */

.evc-line-graph {
	@include evcRelativeLayout();
	opacity: 0;
	@include evcTransition(opacity .3s ease-in-out);
	
	&.evc-lg-appeared {
		opacity: 1;
	}
	
	canvas {
		position: relative;
		display: block;
		width: 100%;
	}
}

/* ==========================================================================
   Line Graph shortcode style - end
   ========================================================================== */