/* ==========================================================================
   Include global partials - begin
   ========================================================================== */
/* ==========================================================================
   Common variables - begin
   ========================================================================== */
/* ==========================================================================
   Common variables - end
   ========================================================================== */
/* ==========================================================================
   Responsive variables - begin
   ========================================================================== */
/* ==========================================================================
   Responsive variables - end
   ========================================================================== */
/* ==========================================================================
   Layout mixin style - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixin style - end
   ========================================================================== */
/* ==========================================================================
   Animation mixin style - begin
   ========================================================================== */
/* ==========================================================================
   Animation mixin style - end
   ========================================================================== */
/* ==========================================================================
   Responsive mixin style - begin
   ========================================================================== */
/* ==========================================================================
   Responsive mixin style - end
   ========================================================================== */
/* ==========================================================================
   Include global partials - end
   ========================================================================== */
/* ==========================================================================
   Include common styles - begin
   ========================================================================== */
/* ==========================================================================
   Grid styles - begin
   ========================================================================== */
.evc-no-space.evc-disable-bottom-space .evc-element-wrapper .evc-element-item {
  margin-bottom: 0;
}

.evc-no-space .evc-element-wrapper {
  margin: 0;
}

.evc-no-space .evc-element-wrapper .evc-element-item {
  padding: 0 0px;
  margin: 0 0 0px;
}

.evc-tiny-space.evc-disable-bottom-space .evc-element-wrapper .evc-element-item {
  margin-bottom: -10px;
}

.evc-tiny-space .evc-element-wrapper {
  margin: 0 -5px;
}

.evc-tiny-space .evc-element-wrapper .evc-element-item {
  padding: 0 5px;
  margin: 0 0 10px;
}

.evc-small-space.evc-disable-bottom-space .evc-element-wrapper .evc-element-item {
  margin-bottom: -20px;
}

.evc-small-space .evc-element-wrapper {
  margin: 0 -10px;
}

.evc-small-space .evc-element-wrapper .evc-element-item {
  padding: 0 10px;
  margin: 0 0 20px;
}

.evc-normal-space.evc-disable-bottom-space .evc-element-wrapper .evc-element-item {
  margin-bottom: -30px;
}

.evc-normal-space .evc-element-wrapper {
  margin: 0 -15px;
}

.evc-normal-space .evc-element-wrapper .evc-element-item {
  padding: 0 15px;
  margin: 0 0 30px;
}

.evc-medium-space.evc-disable-bottom-space .evc-element-wrapper .evc-element-item {
  margin-bottom: -40px;
}

.evc-medium-space .evc-element-wrapper {
  margin: 0 -20px;
}

.evc-medium-space .evc-element-wrapper .evc-element-item {
  padding: 0 20px;
  margin: 0 0 40px;
}

.evc-large-space.evc-disable-bottom-space .evc-element-wrapper .evc-element-item {
  margin-bottom: -50px;
}

.evc-large-space .evc-element-wrapper {
  margin: 0 -25px;
}

.evc-large-space .evc-element-wrapper .evc-element-item {
  padding: 0 25px;
  margin: 0 0 50px;
}

.evc-element-has-columns:before, .evc-element-has-columns:after {
  content: ' ';
  display: table;
}

.evc-element-has-columns:after {
  clear: both;
}

.evc-element-has-columns .evc-element-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  box-sizing: border-box;
}

.evc-element-has-columns.evc-one-columns .evc-element-item {
  width: 100%;
}

@media only screen and (min-width: 681px) {
  .evc-element-has-columns.evc-one-columns .evc-element-item:nth-child(1n+1) {
    clear: both;
  }
}

.evc-element-has-columns.evc-two-columns .evc-element-item {
  width: 50%;
}

@media only screen and (min-width: 681px) {
  .evc-element-has-columns.evc-two-columns .evc-element-item:nth-child(2n+1) {
    clear: both;
  }
}

.evc-element-has-columns.evc-three-columns .evc-element-item {
  width: 33.33333%;
}

@media only screen and (min-width: 769px) {
  .evc-element-has-columns.evc-three-columns .evc-element-item:nth-child(3n+1) {
    clear: both;
  }
}

.evc-element-has-columns.evc-four-columns .evc-element-item {
  width: 25%;
}

@media only screen and (min-width: 1025px) {
  .evc-element-has-columns.evc-four-columns .evc-element-item:nth-child(4n+1) {
    clear: both;
  }
}

.evc-element-has-columns.evc-five-columns .evc-element-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item:nth-child(5n+1) {
    clear: both;
  }
}

.evc-element-has-columns.evc-six-columns .evc-element-item {
  width: 16.66667%;
}

@media only screen and (min-width: 1281px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item:nth-child(6n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Grid styles - end
   ========================================================================== */
/* ==========================================================================
   Grid responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1280px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item {
    width: 25%;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item:nth-child(6n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .evc-element-has-columns.evc-four-columns .evc-element-item {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .evc-element-has-columns.evc-four-columns .evc-element-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .evc-element-has-columns.evc-three-columns .evc-element-item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .evc-element-has-columns.evc-three-columns .evc-element-item:nth-child(1n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .evc-element-has-columns.evc-five-columns .evc-element-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .evc-element-has-columns.evc-six-columns .evc-element-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .evc-element-has-columns.evc-one-columns .evc-element-item {
    width: 100%;
  }
  .evc-element-has-columns.evc-two-columns .evc-element-item {
    width: 100%;
  }
  .evc-element-has-columns.evc-three-columns .evc-element-item {
    width: 100%;
  }
  .evc-element-has-columns.evc-four-columns .evc-element-item {
    width: 100%;
  }
  .evc-element-has-columns.evc-five-columns .evc-element-item {
    width: 100%;
  }
  .evc-element-has-columns.evc-six-columns .evc-element-item {
    width: 100%;
  }
}

/* ==========================================================================
   Grid responsive style - end
   ========================================================================== */
/* ==========================================================================
   RTL styles - begin
   ========================================================================== */
body.rtl {
  direction: ltr;
  unicode-bidi: embed;
}

/* ==========================================================================
   RTL styles - end
   ========================================================================== */
/* ==========================================================================
   Shortcodes common styles - begin
   ========================================================================== */
.evc-predefined-style .evc-shortcode {
  font-family: "Raleway", sans-serif;
}

.evc-predefined-style .evc-shortcode h1 {
  color: #303030;
  font-family: inherit;
  font-size: 37px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 680px) {
  .evc-predefined-style .evc-shortcode h1 {
    font-size: 33px;
  }
}

.evc-predefined-style .evc-shortcode h2 {
  color: #303030;
  font-family: inherit;
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode h2 {
    font-size: 29px;
  }
}

@media only screen and (max-width: 680px) {
  .evc-predefined-style .evc-shortcode h2 {
    font-size: 28px;
  }
}

.evc-predefined-style .evc-shortcode h3 {
  color: #303030;
  font-family: inherit;
  font-size: 26px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 680px) {
  .evc-predefined-style .evc-shortcode h3 {
    font-size: 24px;
  }
}

.evc-predefined-style .evc-shortcode h4 {
  color: #303030;
  font-family: inherit;
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode h4 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 680px) {
  .evc-predefined-style .evc-shortcode h4 {
    font-size: 20px;
  }
}

.evc-predefined-style .evc-shortcode h5 {
  color: #303030;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode h5 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 680px) {
  .evc-predefined-style .evc-shortcode h5 {
    font-size: 18px;
  }
}

.evc-predefined-style .evc-shortcode h6 {
  color: #303030;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode h6 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 680px) {
  .evc-predefined-style .evc-shortcode h6 {
    font-size: 16px;
  }
}

.evc-predefined-style .evc-shortcode p {
  color: #808080;
  font-family: inherit;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
  .evc-predefined-style .evc-shortcode p {
    font-size: 14px;
  }
}

/* ==========================================================================
   Shortcodes common styles - end
   ========================================================================== */
/* ==========================================================================
   Image Behavior styles - begin
   ========================================================================== */
.evc-shortcode.evc-shortcode-has-link a:hover:after {
  opacity: 1;
}

.evc-shortcode.evc-shortcode-has-link a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(48, 48, 48, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.touch .evc-shortcode:not(.evc-shortcode-has-link) .evc-ib-overlay {
  cursor: pointer;
}

.evc-shortcode:not(.evc-shortcode-has-link) .evc-ib-overlay:hover:after {
  opacity: 1;
}

.evc-shortcode:not(.evc-shortcode-has-link) .evc-ib-overlay:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(48, 48, 48, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.evc-shortcode .evc-ib-zoom {
  overflow: hidden;
}

.touch .evc-shortcode .evc-ib-zoom {
  cursor: pointer;
}

.evc-shortcode .evc-ib-zoom:hover img {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  transform: scale(1.04);
}

.evc-shortcode .evc-ib-zoom img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.evc-shortcode .evc-ib-lightbox a:hover:before {
  opacity: 1;
}

.evc-shortcode .evc-ib-lightbox a:hover:after {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: opacity 0.2s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, margin 0.3s ease-in-out;
  transition: opacity 0.2s ease-in-out, margin 0.3s ease-in-out;
}

.evc-shortcode .evc-ib-lightbox a:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(48, 48, 48, 0.3);
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.evc-shortcode .evc-ib-lightbox a:after {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 15px);
  display: inline-block;
  vertical-align: top;
  margin-top: -10px;
  font-family: 'Ionicons';
  content: '\f2f5';
  color: #fff;
  font-size: 40px;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 0.2s ease-in-out, margin 0.1s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, margin 0.1s ease-in-out;
  transition: opacity 0.2s ease-in-out, margin 0.1s ease-in-out;
}

/* ==========================================================================
   Image Behavior styles - end
   ========================================================================== */
/* ==========================================================================
   Custom owl slider styles - begin
   ========================================================================== */
.evc-owl-carousel {
  visibility: hidden;
}

.evc-owl-carousel .owl-stage-outer {
  z-index: 1;
}

.evc-owl-carousel.evc-owl-carousel-init {
  visibility: visible;
}

.evc-owl-carousel.evc-carousel-has-both-control .owl-nav .owl-prev,
.evc-owl-carousel.evc-carousel-has-both-control .owl-nav .owl-next {
  -webkit-transform: translateY(calc(-50% - 25px));
  -moz-transform: translateY(calc(-50% - 25px));
  transform: translateY(calc(-50% - 25px));
}

.evc-owl-carousel .owl-nav .owl-prev,
.evc-owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  z-index: 3;
  color: #303030;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.evc-owl-carousel .owl-nav .owl-prev:hover,
.evc-owl-carousel .owl-nav .owl-next:hover {
  color: #43cb83;
}

.evc-owl-carousel .owl-nav .owl-prev > span,
.evc-owl-carousel .owl-nav .owl-next > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  line-height: 1;
}

.evc-owl-carousel .owl-nav .owl-prev > span:before,
.evc-owl-carousel .owl-nav .owl-next > span:before {
  display: block;
  line-height: inherit;
}

.evc-owl-carousel .owl-nav .owl-prev {
  left: 25px;
}

.evc-owl-carousel .owl-nav .owl-next {
  right: 25px;
}

.evc-owl-carousel .owl-dots {
  text-align: center;
  margin: 20px 0 0;
}

.evc-owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  vertical-align: middle;
}

.evc-owl-carousel .owl-dots .owl-dot span {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: rgba(48, 48, 48, 0.3);
  border-radius: 3em;
  box-sizing: border-box;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.evc-owl-carousel .owl-dots .owl-dot:hover span, .evc-owl-carousel .owl-dots .owl-dot.active span {
  background-color: #303030;
}

.evc-owl-carousel .owl-carousel .owl-item img {
  -webkit-transform: translateZ(0);
}

/* ==========================================================================
   Custom owl slider styles - end
   ========================================================================== */
/* ==========================================================================
   Include common styles - end
   ========================================================================== */

/*# sourceMappingURL=common-map.css.map */
