/* ==========================================================================
   Button shortcode style - begin
   ========================================================================== */

.evc-button-wrapper {
	@include evcRelativeLayout();
	
	&.evc-btn-left {
		text-align: left;
	}
	
	&.evc-btn-right {
		text-align: right;
	}
	
	&.evc-btn-center {
		text-align: center;
	}
}

.evc-button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: auto;
	margin: 0;
	font-family: inherit;
	font-size: 11px;
	line-height: 2em;
	letter-spacing: 0.1em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
    @include evcTransition(color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out);
	
	/***** Common styles - begin *****/
	
	&.evc-btn-has-icon {
		
		.evc-btn-text {
			display: inline-block;
			vertical-align: top;
		}
	}
	
	.evc-btn-text {
		position: relative;
		display: block;
		line-height: inherit;
	}
	
	.evc-btn-icon {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		line-height: inherit;
		
		&:before {
			display: block;
			line-height: inherit;
		}
	}
	
	/***** Common styles - end *****/
	
	/***** Size styles - begin *****/
	
	$sizes: ('tiny', 'small', 'normal', 'medium', 'large');
	$paddings: ('6px 24px', '8px 30px', '11px 36px', '12px 44px', '13px 48px');
	
	@for $i from 0 to length($sizes) {
		&.evc-btn-#{nth($sizes, $i+1)} {
			padding: #{nth($paddings, $i+1)};
		}
	}
	
	/***** Size styles - end *****/
	
	/***** Type styles - begin *****/
	
	&.evc-btn-solid {
		color: $light-color;
		background-color: $dark-color;
		border-color: transparent;
		
		&:hover {
			color: $light-color;
			background-color: $main-color;
			border-color: transparent;
		}
	}
	
	&.evc-btn-outline {
		color: $dark-color;
		background-color: transparent;
		border-color: $dark-color;
		
		&:hover {
			color: $light-color;
			background-color: $dark-color;
			border-color: $dark-color;
		}
	}
	
	&.evc-btn-simple {
		padding: 0;
		color: $dark-color;
		background: none;
		border: 0;
		
		&:hover {
			color: $main-color;
		}
	}
	
	&.evc-btn-fill-line {
		padding: 0 0 2px;
		color: $dark-color;
		background: none;
		border: 0;
		
		&:hover {
			color: $dark-color;
			
			.evc-btn-fill-line {
				opacity: 1;
				width: 100%;
			}
		}
		
		.evc-btn-fill-line {
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			width: 0;
			border-bottom: 2px solid $main-color;
			opacity: 0;
			@include evcTransition(opacity 0.33s, width 0.3s);
		}
	}
	
	&.evc-btn-fill-text {
		padding: 0;
		color: transparent;
		background: none;
		border: 0;
		z-index: 2;
		white-space: nowrap;
		@include evcTransform(translateZ(0));
		
		&:hover {
			color: transparent;
			
			.evc-btn-hover-text {
				width: 100%;
			}
		}
		
		.evc-btn-original-text {
			@include evcRelativeLayout();
			color: $dark-color;
		}
		
		.evc-btn-hover-text {
			position: absolute;
			top: 0;
			left: 0;
			width: 0.1%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			color: $main-color;
			white-space: nowrap;
			overflow: hidden;
			@include evcTransition(width .4s ease-in-out);
		}
	}
	
	&.evc-btn-strike-line {
		padding: 0;
		color: $dark-color;
		background: none;
		border: 0;
		overflow: hidden;
		
		&:hover {
			color: $dark-color;
			
			.evc-btn-strike-line {
				@include evcAnimation(strikeline .7s cubic-bezier(.55,0,.1,1) 0s 1);
			}
		}
		
		.evc-btn-strike-line {
			position: absolute;
			bottom: 0;
			left: calc(-100% - 1px);
			width: 100%;
			height: 2px;
			background-color: $main-color;
		}
		
		@keyframes strikeline {
			from {
				left: calc(-100% - 1px);
			}
			
			to {
				left: calc(100% + 1px);
			}
		}
	}
	
	&.evc-btn-switch-line {
		padding: 0 0 2px;
		color: $dark-color;
		background: none;
		border: 0;
		
		&:hover {
			color: $dark-color;
			
			.evc-btn-switch-line-2 {
				opacity: 1;
				width: 100%;
				@include evcTransition(opacity 0.1s, width 0.4s);
			}
		}
		
		.evc-btn-switch-line-1 {
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			border-bottom: 2px solid $dark-color;
			z-index: 1;
		}
		
		.evc-btn-switch-line-2 {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			display: block;
			border-bottom: 2px solid $main-color;
			z-index: 2;
			opacity: 0;
			@include evcTransition(opacity 0.5s, width 0.4s);
		}
	}
	
	/***** Type styles - end *****/
}
/* ==========================================================================
   Button shortcode style - end
   ========================================================================== */