/* ==========================================================================
   Text Marquee shortcode style - begin
   ========================================================================== */

.evc-text-marquee {
	position: relative;
	color: $dark-color;
	font-size: 54px;
	line-height: 1.2em;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;

	.evc-tm-element {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 0 20px;
		box-sizing: border-box;

		&.evc-tm-aux {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

/* ==========================================================================
   Text Marquee shortcode style - text
   ========================================================================== */