/* ==========================================================================
   Section Title shortcode style - begin
   ========================================================================== */

.evc-section-title {
    @include evcRelativeLayout();
	text-align: center;
	
	.evc-st-inner {
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	
	.evc-st-title {
		margin: 0;
	}
	
	.evc-st-separator {
		width: 60px;
		height: 2px;
		margin: 28px auto 0;
		background-color: $dark-color;
	}
	
	.evc-st-text {
		margin: 25px 0 0;
	}
}
/* ==========================================================================
   Section Title shortcode style - end
   ========================================================================== */