/* ==========================================================================
   Section Title shortcode style - begin
   ========================================================================== */

.evc-section-title {
    @include evcRelativeLayout();
	text-align: center;
	
	.evc-st-inner {
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	
	.evc-st-title {
		margin: 0;
	}
	
	.evc-st-separator {
		display: inline-block;
		vertical-align: top;
		width: 60px;
		height: 2px;
		margin-top: 28px;
		background-color: $dark-color;
	}
	
	.evc-st-text {
		margin: 25px 0 0;
	}
	
	.evc-st-button {
		
		button {
			margin: 40px 0 0;
		}
	}
}
/* ==========================================================================
   Section Title shortcode style - end
   ========================================================================== */