/* ==========================================================================
   Clients shortcode style - begin
   ========================================================================== */

.evc-clients {
    @include evcRelativeLayout();
    text-align: center;
	
    .evc-c-item {
        @include evcRelativeLayout();
    }
	
	.evc-c-item-inner {
		position: relative;
		display: inline-block;
		vertical-align: top;
		
		.touch & {
			cursor: pointer;
		}
	}
	
	.evc-c-images {
		@include evcRelativeLayout();
		overflow: hidden;
		
		img {
			display: block;
		}
	}
	
	.evc-c-original-image {
		position: relative;
		z-index: 1;
	}
	
	.evc-c-hover-image {
		position: absolute;
		top: 0;
		left: 0;
	}
    
    .evc-c-link {
        position: relative;
        display: block;
    }
	
	.evc-c-title {
		margin: 25px 0 10px;
	}
    
    .evc-owl-carousel {
        
        .owl-nav {
            
            .owl-prev {
                left: -10px;
            }
    
            .owl-next {
                right: -10px;
            }
        }
    }
    
    /***** Hover Animation styles - end *****/
	
	&.evc-c-switch-images {
		
		.evc-c-item {
			
			&.evc-c-has-hover {
				
				.evc-c-item-inner {
					
					&:hover {
						
						.evc-c-original-image {
							opacity: 0;
						}
						
						.evc-c-hover-image {
							opacity: 1;
						}
					}
				}
			}
			
			.evc-c-original-image {
				opacity: 1;
				@include evcTransition(opacity .35s);
			}
			
			.evc-c-hover-image {
				opacity: 0;
				@include evcTransition(opacity .35s);
			}
		}
	}
	
	&.evc-c-roll-over {
		
		.evc-c-item {
			
			&.evc-c-has-hover {
				
				.evc-c-item-inner {
					
					&:hover {
						
						.evc-c-original-image {
							@include evcTransform(translateY(100%));
						}
						
						.evc-c-hover-image {
							@include evcTransform(translateY(0));
						}
					}
				}
			}
			
			.evc-c-original-image {
				@include evcTransform(translateY(0));
				@include evcTransitionTransform(.35s);
			}
			
			.evc-c-hover-image {
				@include evcTransform(translateY(-100%));
				@include evcTransitionTransform(.35s);
			}
		}
	}
    
    /***** Hover Animation styles - end *****/
}

/* ==========================================================================
   Clients shortcode style - end
   ========================================================================== */