/* ==========================================================================
   RTL styles - begin
   ========================================================================== */

body {

	&.rtl {
		direction: ltr; // we purposely set inverse value because gulp will convert to rtl on task running
		unicode-bidi: embed;
	}
}

/* ==========================================================================
   RTL styles - end
   ========================================================================== */

/* ==========================================================================
   Shortcodes common styles - begin
   ========================================================================== */

.evc-shortcode {
	
	.evc-predefined-style & {
		font-family: $font-family;
		
		h1 {
			color: $dark-color;
			font-family: inherit;
			font-size: 37px;
			line-height: 1.3em;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 35px;
			}
			
			@include phone-landscape-screen {
				font-size: 33px;
			}
		}
		
		h2 {
			color: $dark-color;
			font-family: inherit;
			font-size: 30px;
			line-height: 1.3em;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 29px;
			}
			
			@include phone-landscape-screen {
				font-size: 28px;
			}
		}
		
		h3 {
			color: $dark-color;
			font-family: inherit;
			font-size: 26px;
			line-height: 1.3em;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 25px;
			}
			
			@include phone-landscape-screen {
				font-size: 24px;
			}
		}
		
		h4 {
			color: $dark-color;
			font-family: inherit;
			font-size: 22px;
			line-height: 1.3em;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 21px;
			}
			
			@include phone-landscape-screen {
				font-size: 20px;
			}
		}
		
		h5 {
			color: $dark-color;
			font-family: inherit;
			font-size: 20px;
			line-height: 1.3em;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 19px;
			}
			
			@include phone-landscape-screen {
				font-size: 18px;
			}
		}
		
		h6 {
			color: $dark-color;
			font-family: inherit;
			font-size: 18px;
			line-height: 1.3em;
			font-weight: 700;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 17px;
			}
			
			@include phone-landscape-screen {
				font-size: 16px;
			}
		}
		
		p {
			color: $text-color;
			font-family: inherit;
			font-size: 15px;
			line-height: 26px;
			font-weight: 400;
			font-style: normal;
			letter-spacing: 0;
			
			@include ipad-landscape-screen {
				font-size: 14px;
			}
		}
	}
}

/* ==========================================================================
   Shortcodes common styles - end
   ========================================================================== */

/* ==========================================================================
   Image Behavior styles - begin
   ========================================================================== */

.evc-shortcode {
	
	&.evc-shortcode-has-link {
		
		a {
			
			&:hover {
				
				&:after {
					opacity: 1;
				}
			}
			
			&:after {
				@include evcAbsoluteLayout();
				content: '';
				background-color: rgba($dark-color, .3);
				opacity: 0;
				@include evcTransition(opacity .3s ease-in-out);
			}
		}
	}
	
	&:not(.evc-shortcode-has-link) {
		
		.evc-ib-overlay {
			
			.touch & {
				cursor: pointer;
			}
			
			&:hover {
				
				&:after {
					opacity: 1;
				}
			}
			
			&:after {
				@include evcAbsoluteLayout();
				content: '';
				background-color: rgba($dark-color, .3);
				opacity: 0;
				@include evcTransition(opacity .3s ease-in-out);
			}
		}
	}
	
	.evc-ib-zoom {
		overflow: hidden;
		
		.touch & {
			cursor: pointer;
		}
		
		&:hover {
			
			img {
				@include evcTransform(scale(1.04));
			}
		}
		
		img {
			@include evcTransform(scale(1));
			@include evcTransitionTransform(.3s ease-in-out);
		}
	}
	
	.evc-ib-lightbox {
		
		a {
			
			&:hover {
				
				&:before {
					opacity: 1;
				}
				
				&:after {
					opacity: 1;
					margin-top: 0;
					@include evcTransition(opacity .2s ease-in-out, margin .3s ease-in-out);
				}
			}
			
			&:before {
				@include evcAbsoluteLayout();
				content: '';
				background-color: rgba($dark-color, .3);
				opacity: 0;
				z-index: 1;
				@include evcTransition(opacity .2s ease-in-out);
			}
			
			&:after {
				position: absolute;
				top: calc(50% - 20px);
				left: calc(50% - 15px);
				display: inline-block;
				vertical-align: top;
				margin-top: -10px;
				font-family: 'Ionicons';
				content: '\f2f5';
				color: #fff;
				font-size: 40px;
				line-height: 1;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				speak: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				opacity: 0;
				z-index: 2;
				@include evcTransition(opacity .2s ease-in-out, margin .1s ease-in-out);
			}
		}
	}
}

/* ==========================================================================
   Image Behavior styles - end
   ========================================================================== */

/* ==========================================================================
   Custom owl slider styles - begin
   ========================================================================== */

.evc-owl-carousel {
	visibility: hidden;
	
    .owl-stage-outer {
        z-index: 1;
    }
	
	&.evc-owl-carousel-init {
		visibility: visible;
	}
    
    &.evc-carousel-has-both-control {
        
        .owl-nav {
            
            .owl-prev,
            .owl-next {
                $pos: calc(-50% - 25px); // 25 is is half height of pagination control + top margin
                @include evcTransform(translateY($pos));
            }
        }
    }
	
	.owl-nav {
		
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			z-index: 3;
			color: $dark-color;
			@include evcTransform(translateY(-50%));
			@include evcTransition(color .3s ease-in-out);
			
			&:hover {
				color: $main-color;
			}
			
			> span {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				font-size: 40px;
				line-height: 1;
				
				&:before {
					display: block;
					line-height: inherit;
				}
			}
		}
		
		.owl-prev {
			left: 25px;
		}
		
		.owl-next {
			right: 25px;
		}
	}
	
	.owl-dots {
		text-align: center;
		margin: 20px 0 0;
		
		.owl-dot {
			display: inline-block;
			vertical-align: middle;
			
			span {
				display: inline-block;
				vertical-align: middle;
				width: 12px;
				height: 12px;
				margin: 0 6px;
				background-color: rgba($dark-color, .3);
				border-radius: 3em;
				box-sizing: border-box;
				@include evcTransition(background-color .3s ease-in-out);
			}
			
			&:hover,
			&.active {
				
				span {
					background-color: $dark-color;
				}
			}
		}
	}
	
	.owl-carousel .owl-item img {
		-webkit-transform: translateZ(0); //chrome text cut off fix
	}
}

/* ==========================================================================
   Custom owl slider styles - end
   ========================================================================== */