/* ==========================================================================
   Grid responsive style - begin
   ========================================================================== */

@include mac-screen {
	
	.evc-element-has-columns {
		
		$columns_label: ('five', 'six');
		
		@for $i from 0 to length($columns_label) {
			&.evc-#{nth($columns_label, $i+1)}-columns {
				$column_width: 100%/4;
				
				.evc-element-item {
					width: $column_width;
					
					@media only screen and (min-width: $ipad-landscape-screen-plus-pixel) {
						
						&:nth-child(#{$i+5}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@include ipad-landscape-screen {
	
	.evc-element-has-columns {
		
		$columns_label: ('four', 'five', 'six');
		$width_coef: (2, 3, 3);
		$responsive_break: ($phone-landscape-screen-plus-pixel, $ipad-portrait-screen-plus-pixel, $ipad-portrait-screen-plus-pixel);
		
		@for $i from 0 to length($columns_label) {
			&.evc-#{nth($columns_label, $i+1)}-columns {
				$column_width: 100%/nth($width_coef, $i+1);
				
				.evc-element-item {
					width: $column_width;
					
					@media only screen and (min-width: #{nth($responsive_break, $i+1)}) {
						
						&:nth-child(#{nth($width_coef, $i+1)}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@include ipad-portrait-screen {
	
	.evc-element-has-columns {
		
		$columns_label: ('three', 'five', 'six');
		$width_coef: (1, 2, 2);
		$responsive_break: ($phone-landscape-screen-plus-pixel, $phone-landscape-screen-plus-pixel, $phone-landscape-screen-plus-pixel);
		
		@for $i from 0 to length($columns_label) {
			&.evc-#{nth($columns_label, $i+1)}-columns {
				$column_width: 100%/nth($width_coef, $i+1);
				
				.evc-element-item {
					width: $column_width;
					
					@media only screen and (min-width: #{nth($responsive_break, $i+1)}) {
						
						&:nth-child(#{nth($width_coef, $i+1)}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}
}

@include phone-landscape-screen {
	
	.evc-element-has-columns {
		
		$columns_label: ('one', 'two', 'three', 'four', 'five', 'six');
		
		@for $i from 0 to length($columns_label) {
			&.evc-#{nth($columns_label, $i+1)}-columns {
				
				.evc-element-item {
					width: 100%;
				}
			}
		}
	}
}

/* ==========================================================================
   Grid responsive style - end
   ========================================================================== */