/* ==========================================================================
   Grid styles - begin
   ========================================================================== */

$columns_space_label: ('no', 'tiny', 'small', 'normal', 'medium', 'large');
$columns_space_width: (0, 5, 10, 15, 20, 25);

@for $i from 0 to length($columns_space_label) {
	.evc-#{nth($columns_space_label,$i+1)}-space {
		$column_width: nth($columns_space_width, $i+1);
		$column_width_margin: $column_width * 2;
		
		&.evc-disable-bottom-space {
			
			.evc-element-wrapper {
				
				.evc-element-item {
					@if ($column_width == 0) {
						margin-bottom: 0;
					} @else {
						margin-bottom: -#{$column_width_margin}px;
					}
				}
			}
		}
		
		.evc-element-wrapper {
			@if ($column_width == 0) {
				margin: 0;
			} @else {
				margin: 0 -#{$column_width}px;
			}
			
			.evc-element-item {
				padding: 0 #{$column_width}px;
				margin: 0 0 #{$column_width_margin}px;
			}
		}
	}
}

.evc-element-has-columns {
	
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	
	&:after {
		clear: both;
	}
	
	.evc-element-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		float: left;
		box-sizing: border-box;
	}
	
	$columns_label: ('one', 'two', 'three', 'four', 'five', 'six');
	$responsive_break: ($phone-landscape-screen-plus-pixel, $phone-landscape-screen-plus-pixel, $ipad-portrait-screen-plus-pixel, $ipad-landscape-screen-plus-pixel, $mac-screen-plus-pixel, $mac-screen-plus-pixel);
	
	@for $i from 0 to length($columns_label) {
		&.evc-#{nth($columns_label, $i+1)}-columns {
			$column_width: 100%/($i+1);
			
			.evc-element-item {
				width: $column_width;
				
				@media only screen and (min-width: #{nth($responsive_break, $i+1)}) {
					
					&:nth-child(#{$i+1}n+1) {
						clear: both;
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Grid styles - end
   ========================================================================== */