/* ==========================================================================
   Layout mixin style - begin
   ========================================================================== */

@mixin evcRelativeLayout() {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

@mixin evcAbsoluteLayout() {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@mixin evcTableLayout() {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}

@mixin evcTableCellLayout() {
	position: relative;
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

/* ==========================================================================
   Layout mixin style - end
   ========================================================================== */

/* ==========================================================================
   Animation mixin style - begin
   ========================================================================== */

@mixin evcTransition($transition-param...) {
	-webkit-transition: $transition-param;
	-moz-transition: $transition-param;
	transition: $transition-param;
}

@mixin evcTransitionDelay($transition-param...) {
	-webkit-transition-delay: $transition-param;
	-moz-transition-delay: $transition-param;
	transition-delay: $transition-param;
}

@mixin evcTransitionTransform($transition-param...) {
	-webkit-transition: -webkit-transform $transition-param;
	-moz-transition: -moz-transform $transition-param;
	transition: transform $transition-param;
}

@mixin evcTransform($transform-param...) {
	-webkit-transform: $transform-param;
	-moz-transform: $transform-param;
	transform: $transform-param;
}

@mixin evcAnimation($animation-param...) {
	-webkit-animation: $animation-param;
	-moz-animation: $animation-param;
	animation: $animation-param;
}

/* ==========================================================================
   Animation mixin style - end
   ========================================================================== */

/* ==========================================================================
   Responsive mixin style - begin
   ========================================================================== */

@mixin laptop-screen {
	@media only screen and (max-width: $laptop-screen) {
		@content;
	}
}

@mixin mac-screen {
	@media only screen and (max-width: $mac-screen) {
		@content;
	}
}

@mixin ipad-landscape-screen {
	@media only screen and (max-width: $ipad-landscape-screen) {
		@content;
	}
}

@mixin ipad-portrait-screen {
	@media only screen and (max-width: $ipad-portrait-screen) {
		@content;
	}
}

@mixin phone-landscape-screen {
	@media only screen and (max-width: $phone-landscape-screen) {
		@content;
	}
}

@mixin phone-portrait-screen {
	@media only screen and (max-width: $phone-portrait-screen) {
		@content;
	}
}

/* ==========================================================================
   Responsive mixin style - end
   ========================================================================== */