/* ==========================================================================
   Common variables - begin
   ========================================================================== */

$font-family: 'Raleway', sans-serif;
$additional-font-family: 'Poppins', sans-serif;

$main-color: #43cb83;
$text-color: #808080;

$light-color: #fff;
$dark-color: #303030;

$border-color: #ebebeb;

/* ==========================================================================
   Common variables - end
   ========================================================================== */

/* ==========================================================================
   Responsive variables - begin
   ========================================================================== */

$laptop-screen-plus-pixel: 1441px;
$laptop-screen: 1440px;

$mac-screen-plus-pixel: 1281px;
$mac-screen: 1280px;

$ipad-landscape-screen-plus-pixel: 1025px;
$ipad-landscape-screen: 1024px;

$ipad-portrait-screen-plus-pixel: 769px;
$ipad-portrait-screen: 768px;

$phone-landscape-screen-plus-pixel: 681px;
$phone-landscape-screen: 680px;

$phone-portrait-screen-plus-pixel: 481px;
$phone-portrait-screen: 480px;

/* ==========================================================================
   Responsive variables - end
   ========================================================================== */